body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--stone-2);
  min-height: 100dvh;
  font-size: var(--font-size-2);
  line-height: 1.5;
  font-family: var(--font-system-ui);
}

.content {
  height: 100%;
}
.wrapper {
  margin: auto;
  max-width: var(--max-content-width);
}

p {
  max-width: var(--maxchars);
}

// * {
//     outline: solid 1px red;
// }
