---
import Layout from "@layouts/BaseLayout.astro";

const meta = {
  title: "Error 404: Unable to find page",
  description: "The unable to find the page",
  imageOG: "generic-social-1200x630.png",
  altOG: "Alt text for OG image",
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>404</h1>
    <p>Unable to find that page</p>
  </main>
</Layout>
