---
import Layout from "@layouts/BaseLayout.astro";

const meta = {
	title: "About phuket-property.com",
	description: "Information coming soon",
	imageOG: "generic-social-1200x630.png",
	altOG: "Alt text for OG image",
};
---

<Layout metaData={meta}>
  <main class="wrapper">
    <h1>About</h1>
  </main>
</Layout>
