---
import { Image } from "astro:assets";

import Layout from "@layouts/BaseLayout.astro";

import image1 from "@images/panda-01.jpg";
const meta = {
  title: "Phuket Property: Real Estate For Sale",
  description: "Website coming soon",
  imageOG: "generic-social-1200x630.png",
  altOG: "Alt text for OG image",
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>Phuket Property</h1>
    <p>A new website is coming soon.</p>
  </main>
</Layout>
