---
const year = new Date().getUTCFullYear();
---

<footer class="footer">
  <div class="wrapper">
    <p>&copy; &nbsp;{year}</p>
  </div>
</footer>
<style>
  .footer {
    background: var(--stone-3);
    padding-block: var(--size-fluid-1);
    margin-block-start: var(--size-fluid-5);
  }
</style>
